
@import "./utils/variables";
@import "./utils/mixins";
@import "./pages/accueil";
@import "./pages/menu";
@import "./layout/header";
@import "./components/button";
@import "./utils/animations";

*{
    box-sizing: border-box;
    
}
body{
    font-family: roboto, sans-serif;
    margin: 0;
}