.btn-explore{
    &--modification{
        display: flex;
        margin: 40px auto;
    }
    @include gradient( 0deg, $primary-color,$secondary-color);
    font-size: 120%;
    padding: 20px 15px;
    border-radius: 50px;
    border: none;
    color: #FFF;
    &:hover{
       transition: 500ms;
       cursor: pointer;
       box-shadow: 3px 3px 3px rgb(163, 161, 161);
       opacity: 0.8;
    }
}