.box {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.container {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 400px;
  animation: chargement 3s forwards;
}
.container .bille {
  width: 10px;
  height: 10px;
  background-color: #9356DC;
  color: #9356DC;
  animation: translater 0.6s linear 0.1s infinite;
  margin-right: 30px;
}
.container .bille:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: agrandir 1s ease-in-out 0s infinite;
}
.container .bille:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: agrandir 1s ease-in-out 0s infinite;
}

.back-animation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #99E2D0;
  animation: anim-back 3.1s ease-in-out forwards;
}

.loading-home {
  animation: accueil-chargement 3.1s forwards;
}

/******/
.localiser {
  background-color: #EAEAEA;
  padding: 20px 0px 20px 10px;
  box-shadow: inset 0px 6px 6px -3px #c6c6c6;
  margin-top: 70px;
}
.localiser__form {
  display: flex;
  justify-content: center;
}
.localiser__form--label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localiser__form--imput {
  border-color: transparent;
  background: #EAEAEA; /*#f6f6f6 ;*/
  font-size: 120%;
  font-weight: 700;
  opacity: 0.6;
  padding-left: 10px;
}

.reserver {
  background-color: #faf9f9;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reserver--contenu {
  text-align: center;
}
.reserver--contenu__text-gras {
  width: 80%;
  font-size: 180%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.reserver--contenu__text-fin {
  font-size: 110%;
  width: 90%;
  margin: 0 auto;
  opacity: 0.6;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement__fonctionnement-text {
  margin: 20px;
  font-size: 150%;
}
.fonctionnement__menu-cartes {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  width: 80%;
  margin-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px #dfdddd;
}
.fonctionnement__menu-cartes:hover {
  cursor: pointer;
}
.fonctionnement__menu-cartes:hover i {
  color: #9356DC;
  opacity: 1;
}
.fonctionnement__menu-cartes__rond {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  margin-left: -20px;
}
.fonctionnement__menu-cartes--icon {
  color: black;
  opacity: 0.6;
  margin: 0 20px 0 20px;
}
.fonctionnement__menu-cartes--text {
  font-size: 90%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  margin-top: 50px;
  padding-bottom: 30px;
}
.cards__resto {
  font-size: 120%;
  font-weight: bolder;
  margin-left: -50%;
}
.cards__figure {
  width: 90%;
  background-color: #FFF;
  margin-bottom: 30px;
  border-radius: 25px;
}
@media screen and (min-width: 992px) {
  .cards__figure {
    width: 45%;
  }
}
.cards__figure:hover {
  box-shadow: 3px 3px 15px 3px #dfdddd;
  cursor: pointer;
}
.cards__figure a {
  text-decoration: none;
  color: #000;
}
.cards__figure--nouveau {
  display: flex;
  justify-content: flex-end;
}
.cards__figure--nouveau h4 {
  margin-top: -210px;
  margin-right: 30px;
}
.cards__figure--nouveau h4 span {
  background-color: #99E2D0;
  color: #06634c;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
}
.cards__figure img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.cards__figure__texicon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__figure__texicon h1 {
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 3px;
}
.cards__figure__texicon h3 {
  font-weight: 500;
  padding-left: 20px;
  opacity: 0.7;
  margin-top: 0;
}
.cards__figure__texicon i {
  font-size: 150%;
  padding-right: 30px;
}
.cards__figure__texicon span:hover i {
  animation: icon-heart 1500ms ease forwards;
  cursor: pointer;
}

.image-menu {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 70px;
}

/***/
.menu {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 50px 50px 0 0;
  margin-top: -80px;
  padding-bottom: 30px;
  width: 100%;
}
.menu__titre {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 50px 50px 0 0;
}
.menu__titre h1 {
  padding-left: 30px;
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 600;
}
.menu__titre i {
  padding-right: 8%;
  padding-left: 2px;
  font-size: 150%;
}
.menu__titre i:hover {
  animation: icon-heart 1500ms ease forwards;
  cursor: pointer;
}
.menu__sous-titre {
  padding-top: 5px;
  padding-left: 5%;
  margin-top: 30px;
  font-size: 120%;
}
.menu__sous-titre__tiret {
  margin-top: 5px;
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
}
.menu__contenu {
  background-color: #fff;
  margin: 20px 20px 0 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}
@media screen and (min-width: 992px) {
  .menu__contenu {
    width: 100%;
  }
}
.menu__contenu--descrip {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-right: 20px;
  width: 80%;
}
.menu__contenu--descrip h2 {
  font-size: 100%;
  margin-bottom: 5px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__contenu--descrip p {
  font-size: 85%;
  margin-top: 0;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__contenu--somme {
  padding-top: 5%;
  margin-right: -10px;
}
.menu__contenu--icon {
  color: #fff;
  font-size: 200%;
  width: 60px;
  height: 95px;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 100% 50%;
  transform: translateX(1%) scale(0, 1);
}
.menu__contenu:hover {
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 3px 3px 3px #979797;
}
.menu__contenu:hover .menu__contenu--descrip {
  width: 60%;
  transition: 0.5s;
}
.menu__contenu:hover .menu__contenu--icon {
  transform: translateX(0%) scale(1);
  transition: 0.5s ease;
}
.menu__contenu:hover .menu__contenu--icon i {
  animation: check-rotation 0.5s;
}
.menu--modification-button {
  width: 50%;
  margin: 30px 30px 30px 25%;
  text-align: center;
}

/***/
.menu_contenu--anim {
  animation: proggression-affichage 3s forwards;
  animation-delay: 0s;
  opacity: 0;
}

.anim1 {
  animation: proggression-affichage 3s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.anim2 {
  animation: proggression-affichage 3s forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.anim3 {
  animation: proggression-affichage 3s forwards;
  animation-delay: 0.9s;
  opacity: 0;
}

.anim4 {
  animation: proggression-affichage 3s forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}
header img {
  width: 200px;
  height: 40px;
}
header .retour {
  position: relative;
  right: 20%;
  font-size: xx-large;
}
@media screen and (min-width: 992px) {
  header .retour {
    right: 35%;
  }
}
header .retour i {
  color: black;
}

.btn-explore {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  font-size: 120%;
  padding: 20px 15px;
  border-radius: 50px;
  border: none;
  color: #FFF;
}
.btn-explore--modification {
  display: flex;
  margin: 40px auto;
}
.btn-explore:hover {
  transition: 500ms;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(163, 161, 161);
  opacity: 0.8;
}

/*animer l'icon pour selection des choix*/
@keyframes check-rotation {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    margin: 0 2rem;
    transform: rotate(360deg);
  }
}
/* animation icon coeur*/
@keyframes icon-heart {
  0% {
    font-weight: 800;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
  }
  100% {
    font-weight: 800;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/** animation loading page d'accueil**/
@keyframes agrandir {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/**/
@keyframes translater {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
/**/
@keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
/**/
@keyframes anim-back {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
/*  process of loading*/
@keyframes accueil-chargement {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** animation du menu**/
@keyframes proggression-affichage {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/** animer nouveau**/ /**
@keyframes anim-nouveau {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}
animation: anim-nouveau 3s ease-in-out 1s infinite; **/
footer {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  background-color: rgb(56, 56, 56);
  opacity: 0.5;
  color: #FFF;
}
@media screen and (min-width: 992px) {
  footer {
    padding-left: 35%;
    font-size: 120%;
  }
}
footer a {
  text-decoration: none;
  color: #FFF;
}
footer .footer__logo {
  font-family: shrikhand;
  letter-spacing: 3px;
  margin-bottom: 0;
  padding-top: 5px;
}
footer i {
  margin-right: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  margin: 0;
}

/*.position-fixe{

}*/
.device-adapter {
  width: 100%;
}

.width-adapter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .width-adapter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/**/
.device-adapter-menu {
  width: 100%;
}

.width-adapter-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}
@media screen and (min-width: 992px) {
  .width-adapter-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style-projet3.css.map */
